# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Entornos Virtuales (si usas venv) ---
venv/
env/
.env

# --- Archivos del Sistema ---
.DS_Store
Thumbs.db

# --- Datos (Opcional) ---
# Si tus audios son muy pesados (>100MB), descomenta la siguiente línea:
# *.wav
# Pero para este proyecto escolar, te recomiendo NO ignorar los .wav
# para que tu profe pueda descargar y probar tus audios de ejemplo.